@model Pet_Shop.Models.Animal

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <h1 class="heading">Edit</h1>

    <div class="row justify-content-center">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" asp-controller="Administrator" asp-action="Update" asp-route-animalId="@Model.AnimalId">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger"})
                        <h4 class="text-danger">@TempData["Message"]</h4>
                        <div class="col-md-12">
                            <label class="form-label" for="name">Animal Name</label>
                            <input asp-for="@Model.Name" type="text" class="form-control" id="name" />
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="age">Age</label>
                            <input asp-for="@Model.Age" type="number" class="form-control" id="age" />
                            <span class="text-danger" asp-validation-for="@Model.Age"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="Image">Picture Name</label>
                            <input asp-for="@Model.PictureName" type="file" class="form-control" id="Image" name="Image"/>
                            <span class="text-danger" asp-validation-for="@Model.PictureName"></span>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="description">Description</label>
                            <input asp-for="@Model.Description" type="text" class="form-control" id="description" />
                            <span class="text-danger" asp-validation-for="@Model.Description"></span>

                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="categories">Category</label>
                            <select asp-for="@Model.Category" name="categoryId" id="categories" class="form-select">
                                <option value="1">Dogs</option>
                                <option value="2">Cats</option>
                                <option value="3">Fishes</option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.Category"></span>
                        </div>
                        <button type="submit" class="btn btn-primary edit-btn" onclick="return confirm('Are you sure you want to update @Model.Name?')">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
